DB_HOST="aws-1-us-west-2.pooler.supabase.com" # Exemplo usando o supabase, mas pode ser qualquer banco postgres
DB_PORT=6543 # Porta padrão do supabase, mas pode ser a porta do seu banco
DB_DATABASE="postgres" # Exemplo usando o supabase, mas pode ser o nome do seu banco
DB_USER=postgres.{ID} # Exemplo usando o supabase, mas pode ser o usuário do seu banco
DB_NAME="postgres" # Exemplo usando o supabase, mas pode ser o nome do seu banco
DB_PASSWORD="SUA_SENHA_AQUI" # Substitua pela senha do seu banco
DB_PROJECT_ID="{ID_DO_SEU_PROJETO}" # Exemplo usando o supabase, mas pode ser o ID do seu projeto ou qualquer identificador
DB_THREADS_PROD=4