DB_HOST=postgres
DB_USER=airflow
DB_PASSWORD=airflow
DB_NAME=airflow
DB_PORT=5432
FERNET_KEY={FERNET_KEY} # Gerada via: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"